@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/gotham-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/gotham-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Kleurenschema */
$main-background: 			#fff;
$sidebar-background: 		#dadada;
$sidebar-textcolor: 		#878786;
$sidebar-goodcirclecolor:	#36ab69;


body {
	background: $main-background;
}

.app-container {
}

.image-container {
	position: relative;
	width: 60%;
	margin: 0 auto;
	img {
		width: 100%;
	}
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	opacity: 0.5;
}

.iconclass-container {
	width: 25%;
	margin: 0 auto;
	background-color: white;
	color: black;
}

/* Sidebar */
.sidebar-container {
	background-color: $sidebar-background;
	height: 100%;
	padding: 20px 40px 20px;
}
h3 {
	font-family: GothamBold;
	font-size: 14px;
	text-transform: uppercase;
	color: $sidebar-textcolor;
}