/*@import '../../node_modules/leaflet/dist/leaflet.css';*/

/* Kleurenschema */
$main-background: #fff;

body {
	background: $main-background;
	color: white;
}

.app-container {
	padding-top: 100px;
	width: 60%;
	margin: 0 auto;
}

.image-container {
	position: relative;
	width: 80%;
	margin: 0 auto;
	img {
		width: 100%;
	}
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	opacity: 0.5;
}

.iconclass-container {
	width: 25%;
	margin: 0 auto;
	background-color: white;
	color: black;
}