@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/gotham-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/gotham-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Kleurenschema */
$main-background: 			#fff;
$sidebar-background: 		#dadada;
$sidebar-textcolor: 		#878786;
$sidebar-goodcirclecolor:	#36ab69;
$staatkop-color: 			#f2f2f2;

$startbutton-groen:			#40a83d;
$start-instructies-grijs:	#626262;


body {
	background: $main-background;
	overflow: hidden;
}

.auth-container {
	height: 100%;
	width: 100%;
	background: #eeeeee; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #dadada 63%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(63%,#dadada)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#dadada 63%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #eeeeee 0%,#dadada 63%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #eeeeee 0%,#dadada 63%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #eeeeee 0%,#dadada 63%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dadada',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding-top: 200px;
	text-align: center;
}

.logoIntro {
	width: 402px;
	height: 168px;
	margin: 0 auto;
}

input, button, submit { border:none; } 

.auth-button {
	font-family: GothamMedium;
	font-size: 18px;
	color: white;
	background: $startbutton-groen;
	border-radius: 10px;
	text-transform: uppercase;
	padding: 10px 40px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}
.instructies {
	position: relative !important;
}

.instructies li {
	float: none !important;
}

h4 {
	font-family: GothamMedium;
	color: $start-instructies-grijs;
	font-size: 14px;
	margin-top: 20px;
}

/* 805 386 */

.app-container {
	@include make-row();
}

.game-container {
	@include make-md-column(10);
	padding-top: 20px;
}

.waaris-kop {
	font-family: GothamMedium;
	text-transform: none;
	font-size: 18px;
	color: $sidebar-textcolor;
	background-color: $staatkop-color;
	display: inline-block;
	padding: 8px 12px !important;
	border-radius: 6px;

}

.geenhit-button {
	font-family: GothamMedium;
	font-size: 16px;
	text-decoration: underline;
	padding: 7px 12px;
	margin-left: 10px;
	border-radius: 6px;
	background: #ea697c;
	color: white;
}

.iconclass-container {
	padding-top: 30px;
	color: black;
	width: 60%;
	margin: 0 auto
}

.iconclass {
	font-family: GothamMedium;
	color: #9d9d9c;
	font-size: 18px;
}

.image-container {
	position: relative;
	margin: 0 auto;
	width: 60%;
	img {
		max-width: 100%;
		max-height: 60vh;
		z-index: 100;
		cursor: url("../icons/circle2geel.svg") 64 64, crosshair;
	}
	img:hover {
		transition:.5s;
		opacity: 1;
	}
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url("../icons/circle.svg");
	border-radius: 50%;
	opacity: 0.5;
}

/* Sidebar */
.sidebar-container {
	@include make-xs-column(4);
	@include make-sm-column(3);
	@include make-md-column(2);
	background-color: $sidebar-background;
	height: 100%;
	padding: 20px 40px 20px;
}
h3 {
	font-family: GothamBold;
	font-size: 14px;
	text-transform: uppercase;
	color: $sidebar-textcolor;
	padding-bottom: 10px;
}
.prev-container {
	position: relative;
	margin: 20px 0;
}

.prev-image {
	background-position: center;
	width: 145px;
	height: 100px;
}

.positive-score {
    width: 40px;
    z-index: 100;
    position: absolute;
    bottom: -20px;
    right:-20px;
}

/* Navigation */
ul {
	font-family: GothamMedium;
	font-size: 12px;
	text-transform: Uppercase;
	color: #8e8e8e;
	right: 30px;
	top: 20px;
	position: absolute;
	z-index: 10;
}

ul li {
	float: left;
	padding-left: 20px;
}

ul li a {
	color: #8e8e8e;
	&:visited {
	color: #8e8e8e;
	}
}

/* Metadata */
.metadata {
	width: 240px;
}