Beste {{{name}}},{{{break}}}{{{break}}}

Gefeliciteerd! Je hebt een match via VPRO Tinderlicht. Ga snel naar de app om te kijken wie samen met jou naar de Tegenlicht Meet Up wil. Jullie kunnen met elkaar chatten via Facebook of Twitter en dan besluiten of je samen op stap gaat. Om te ontdekken wie je match is, surf je naar:{{{break}}}{{{break}}}

tegenlicht.vpro.nl/tinderlicht{{{break}}}{{{break}}}

Groet!{{{break}}}
VPRO Tinderlicht