@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'variables.scss';
@import 'icons.scss';

@import 'auth.scss';
@import 'nav.scss';
@import 'tinder.scss';

@font-face {
  font-family: 'SimplisticSans-Bold';
  src: url('../fonts/SimplisticSans-Bold.eot'); /* IE9 */
  src: url('../fonts/SimplisticSans-Bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/SimplisticSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'SimplisticSans-Medium';
  src: url('../fonts/SimplisticSans-Medium.eot'); /* IE9 */
  src: url('../fonts/SimplisticSans-Medium.woff') format('woff'), /* Modern browsers */
       url('../fonts/SimplisticSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'SimplisticSans-Normal';
  src: url('../fonts/SimplisticSans-Normal.eot'); /* IE9 */
  src: url('../fonts/SimplisticSans-Normal.woff') format('woff'), /* Modern browsers */
       url('../fonts/SimplisticSans-Normal.ttf') format('ttf');
}


body {
	background: $main-background;
}

submit, button, button:active { border: none; outline: none;}

.app-container {
/*  display: flex;
  flex-direction: row;
  align-items: center;*/
}

/*input, button, submit, button:active { border:none; outline: none; } */


/* MEDIA QUERY ELLENDE */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .app-container {
      width: 378px;
    }
}

