@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'variables.scss';
@import 'icons.scss';

@import 'auth.scss';
@import 'nav.scss';
@import 'settings.scss';
@import 'tinder.scss';

@font-face {
  font-family: 'SimplisticSans-Bold';
  src: url('../fonts/SimplisticSans-Bold.eot'); /* IE9 */
  src: url('../fonts/SimplisticSans-Bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/SimplisticSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'SimplisticSans-Medium';
  src: url('../fonts/SimplisticSans-Medium.eot'); /* IE9 */
  src: url('../fonts/SimplisticSans-Medium.woff') format('woff'), /* Modern browsers */
       url('../fonts/SimplisticSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'SimplisticSans-Normal';
  src: url('../fonts/SimplisticSans-Normal.eot'); /* IE9 */
  src: url('../fonts/SimplisticSans-Normal.woff') format('woff'), /* Modern browsers */
       url('../fonts/SimplisticSans-Normal.ttf') format('ttf');
}

body {
	background: $main-background;
	overflow: hidden;
}

submit, button, button:active { border: none; outline: none;}

.app-container {
/*  display: flex;
  flex-direction: row;
  align-items: center;*/
  max-width: 600px;
}

/*input, button, submit, button:active { border:none; outline: none; } */

