@import 'variables.scss';

body {
  font-size: normal;
}
@media (max-width: 1000px) {
  body { font-size: normal; }
}
@media (max-width: 600px) {
  body { font-size: normal; }
}

h1 {
	font-family: SimplisticSans-Bold;
	text-align: center;
	color: $tegenlicht-wit;
	/*font-size: 38px;*/
	font-size: 2.6em; 
	margin-top: 50px;
}

.oranje {
	color: $tegenlicht-oranje;
}

.auth-button {
	width: 250px;
	font-family: SimplisticSans-Medium;
	/*font-size: 18px;*/
	font-size: 1.25em; 
	color: white;
	background: $fb-login;
	border-radius: 10px;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}

.auth-sm {
	background: none;
	padding: 12px 5px 12px 5px;
}

.twitter {
	background: $twitter-login;
}

.introduction {
	font-family: SimplisticSans-Normal;
  font-size: 1.2em; 
  max-width: 30em;
  line-height: 24px;
  width: 80%;
  margin: auto;
  text-align: center;
  color: #828282;
  margin-top: 25px;
}