@import 'variables.scss';

.auth__logointro {
	width: 60%;
	padding-bottom: 30px;
}

.auth__introductiontext {
	font-family: SimplisticSans-Normal;
	color: $text-color;
	font-size: 16px;
	line-height: 28px;
}

.auth-container {
	max-width: 600px;
	text-align: center;
	padding: 50px;
}






.auth-button {
	font-family: SimplisticSans-Medium;
	border-radius: 24px;
	cursor: pointer;
	&:hover{
		background: lighten($fb-login, 5%);
	};
}

.auth-sm {
	background: none;
	padding: 12px 5px 12px 5px;
}

.twitter {
	background: $twitter-login;
	&:hover{
		background: lighten($twitter-login, 5%)
	};
}

/* De ouwe meuk */
h1 {
	font-family: SimplisticSans-Bold;
	text-align: center;
	color: $tegenlicht-wit;
	/*font-size: 38px;*/
	font-size: 2.6em; 
	margin-top: 50px;
}

.oranje {
	color: $tegenlicht-oranje;
}

.auth-button {
	width: 250px;
	font-family: SimplisticSans-Medium;
	/*font-size: 18px;*/
	font-size: 1.25em; 
	color: white;
	background: $fb-login;
	border-radius: 10px;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}

.auth-sm {
	background: none;
	padding: 12px 5px 12px 5px;
}

.twitter {
	background: $twitter-login;
}

.introduction {
	font-family: SimplisticSans-Normal;
  font-size: 1.2em; 
  max-width: 30em;
  line-height: 24px;
  width: 80%;
  margin: auto;
  text-align: center;
  color: #828282;
  margin-top: 25px;
}