@import 'variables.scss';

.app-container {
	@include make-row();
}
.game-container {
	@include make-row();
	@include make-md-column(10);
	padding-top: 20px;
	height: 100%;
}
	.explore-state {
		background-color: $sidebar-background;
	}
	.explore-container {
		@include make-row();
		width: 60%;
	}
	.circle-column {
		@include make-md-column(3);
		text-align: center;
	}
.interaction-container {
	@include make-md-column(8);
}
.metadata-container {
	@include make-md-column(4);
	padding-top: 150px;
}