nav {
	@include make-row();
	width: 100%;
	height: 44pt;
	background-color: $navbar-background;
	margin: 0 !important;
}


.nav__logosmall {
	font-size: 20px;
	margin-top: 0;
 	line-height: $nav-hoogte;
}

.nav__like {
	width: 25%;
	float: left;
 	text-align: center;
 	font-size: 1.5em;
 	padding-top: 13pt;
 	color: white;
 	&:hover {
 		color: $tegenlicht-oranje;
 		cursor: pointer;
 	}
}

.nav__logo {
	float: left;
	width: 50%;
	text-align: center;
}

.nav__tinderlichtlogo {
	max-width: 170px;
	width: 85%;
	padding-top: 19px;
}

.nav__loves {
	width: 25%;
	float: left;
 	text-align: center;
 	font-size: 1.5em;
 	padding-top: 13pt;
 	color: white;
 	&:hover {
 		color: $tegenlicht-oranje;
 		cursor: pointer;
 	}
}

.verderbutton {
    border: 2px solid white;
    background: black;
    display: inline;
    padding: 10px 35px;
    font-family: SimplisticSans-Medium;
    color: white;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

