.tinderview{
	min-height: 100%;
	background: #EFEFEF;
}

/* Settings */
.profileSetup {
	@include make-row();
	margin: 0;
	padding-top: 50px;
	font-family: SimplisticSans-Medium;
	text-align: center;
	color: $start-instructies-grijs;
}

/* Tinder swipe */
.profile-container {
	margin-top: -20px; /* KIJKEN WAAROM? */
}

.profile {
	width: 100%;
	height: 380px;
}

.profile__card {
    width: 80%;
    margin-left: 10%;
    background: white;
    margin-top: 290px;
    padding: 20px 30px 30px 30px;
    display: inline-block;
}

.profile__photo { 
	width: 100%; 
	margin-top: 5%;
}

.profile__name { 
	font-family: SimplisticSans-Medium, Arial; 
	font-size: 24px;
	color: $text-color;
	display: block;
}

.profile__age { 
	font-family: SimplisticSans-Normal, Arial; 
	color: lighten($text-color, 0%);
}

.profile__description { 
	font-family: SimplisticSans-Normal, Arial; 
	font-size: 15px;
	color: lighten($text-color, 20%);
	padding-bottom: 20px;
}

.profile__buttons {
	text-align: center;
	position: fixed;
	    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}

.icon-base {
	border-radius: 100px;
	padding: 20px;
	font-size: 17px;
	color: white;
	cursor: pointer;
}

.icon-cross {
	@extend .icon-base;
	background: $dislike-background;
	&:hover{
		background: darken($navbar-background, 10%);
	};
}

.icon-heart {
	@extend .icon-base;
	background: $tegenlicht-oranje;
	margin-left: 15px;
	&:hover{
		background: darken($tegenlicht-oranje, 10%);
	};
}

/* Tinder no matches */
.noMatch {
	font-family: SimplisticSans-Normal, Arial;
	font-size: 16px;
	color: $text-color;
	padding: 0 9%;
	line-height: $line-height-text;
	/* Voelt een beetje goedkoop, kijken voor alternatief?*/
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Tinder likes */
ul {
	list-style-type: none;
	padding: 0 20px;
}
.singleMutual {
	width: 100%;
	line-height: 50px;
	border-bottom: 1px solid #3C3C3C;
	display: inline-block;
	padding-left: 15px;
	padding-bottom: 15px;
	position: relative;
	margin-top: 15px;
	&:first-child{
		margin-top: 0;
		padding-top: 15px;
		border-top: 1px solid #3C3C3C;
	};
}
.singleMutual__photoWrapper {
	width: 15%;
}
.singleMutual__photo {
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 100%;

}
.singleMutual__name {
	width: 50%;
	float: left;
	font-family: SimplisticSans-Normal;
	font-size: 18px;
	padding-left: 20px;
	color: white;

}
.singleMutual__button {
	right: 15px;
	position: absolute;
	font-family: SimplisticSans-Normal;
}
.singleMutual__button a {
	padding: 8px 12px;
	background: #929292;
	border-radius: 22px;
	color: white;
	font-size: 12px;
	&:hover{
		text-decoration: none;
		background: lighten(#929292, 10%);
	};
}

/* Settings */
h1 {
	font-family: SimplisticSans-Bold;
	text-align: left;
	color: $tegenlicht-wit;
	/*font-size: 38px;*/
	font-size: 2.6em; 
	margin-top: 50px;
	margin-left: 40px;
}

.settings {
	background: black;
	min-height: 100%;
	padding-bottom: 80px;
}

.settings-text {
	font-family: SimplisticSans-Normal;
	font-size: 16px;
	line-height: 30px;
	color: white;
	padding-left: 40px;
	padding-right: 40px;
}

a { color: $tegenlicht-oranje;}

input {
	margin-top: 20px;
	margin-left: 40px;
  border: none;
  border-bottom: 1px dotted white;
  background: none;
  color: white;
  font-size: 36px;
  width: 90px;
  font-family: SimplisticSans-Medium;
  padding-left: 10px;
  height: 58px;
}

.settings__emailinput {
	width: 300px;
	font-size: 18px;
}

.settings__profileinput {
	margin-top: 20px;
	margin-left: 40px;
  border: 1px dotted white;
  background: none;
  color: white;
  font-size: 18px;
  width: 300px;
  font-family: SimplisticSans-Medium;
  padding-left: 10px;
}

.settings__pickstatus--on {
	color: white;
}
.settings__pickstatus--off {
	color: #666;
	cursor: pointer;
}

.settings-text--off {
	display: none;
}

.meetupLocs--off {
	display: none;
}

.meetupLocs--on {
	display: visible;
}

.meetupLocs input {
	margin-left: 40px;
	height: 40px;
}

.meetupLocs span {
	font-family: SimplisticSans-Medium;
	font-size: 14px;
	color: white;
	margin-top: -28px;
  display: block;
  margin-left: 90px;
}

/* Animatie */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 50000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 30000ms ease-in;
}