/* Kleurenschema */
$main-background: 				#dadada;
$sidebar-background: 			#dadada;
$dislike-background:				#C5C5C5;
$navbar-background:				#000;

$fb-login:								#3b5998;
$twitter-login:						#55acee;
$start-instructies-grijs:	#626262;

/* Tegenlicht kleuren swatches */
$tegenlicht-zwart:				#000;
$tegenlicht-wit:					#fff;
$tegenlicht-oranje:				#F50;

$vpro-grijs:							#A0A0A0;
$vpro-licht-oranje:				#FF9900;
$vpro-oranje:							#FF6600;
$vpro-rood:								#FF0000;
$vpro-roze:								#FF0099;
$vpro-paars-variant:			#990099;
$vpro-paars-variant2:			#6633CC;
$vpro-donker-blauw:				#0066FF;
$vpro-licht-blauw:				#00AAFF;

$text-color:							#626262;


/* Hoogtes e.d. */
$nav-hoogte:							50px;
$line-height-text:				1.6em;