/* Kleurenschema */
$main-background: 			#fff;
$sidebar-background: 		#dadada;
$sidebar-textcolor: 		#878786;
$sidebar-goodcirclecolor:	#36ab69;
$staatkop-color: 			#f2f2f2;

$startbutton-groen:			#40a83d;
$start-instructies-grijs:	#626262;