/* Kleurenschema */
$main-background: 				#dadada;
$sidebar-background: 			#dadada;
$navbar-background:				#C5C5C5;

$fb-login:								#3b5998;
$twitter-login:						#55acee;
$start-instructies-grijs:	#626262;

/* Tegenlicht kleuren swatches */
$tegenlicht-zwart:				#000;
$tegenlicht-wit:					#fff;
$tegenlicht-oranje:				#F50;

$text-color:							#626262;


/* Hoogtes e.d. */
$nav-hoogte:							50px;
$line-height-text:				1.6em;